body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav div {
  float: right;
  color: #42aaf5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}

.topnav div:hover {
  background-color: #ddd;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.body {
  margin: 10;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14;
  border-collapse: collapse;
  width: 90%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  max-width: 50;
}

